name: CI Windows MSVC

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-and-test:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.31.x'

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build --config Debug

    - name: Test
      run: ctest --test-dir build -C Debug --output-on-failure
